<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">
      게시판
      <span>
        <a th:href="@{/board/register}"></a>
      </span>

    </h1>

    <table class="table table-striped">

      <thead>
      <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="dto:${result.dtoList}">
        <td>[[${dto.bno}]]</td>
        <td>
          [[${dto.title}]] ...
          <span class="badge" th:text="${dto.replyCnt}" /></td>
        <td>[[${dto.writerName}]]<small>[[${dto.writerEmail}]]</small></td>
        <td>[[${dto.regDate}]]</td>
      </tr>
      </tbody>

    </table>

    <!-- 페이지 이동 버튼 수정 필요
    <ul class="pagination h-100 justify-content-center align-items-center">
      <li class="page-item" th:if="${result.prev}">
        <a class="page-link" th:href="@{/board/list(page=${result.start - 1})}" tabindex="-1">이전</a>
      </li>

      <li th:class=" 'page-item ' + ${result.page == page ? 'active' : ''} "
          th:each="page:${result.pageList}">
        <a class="page-link" th:href="@{/guestbook/list(page=${page})}">
          [[${page}]]
        </a>
      </li>
      <li class="page-item" th:if="${result.next}">
        <a class="page-link" th:href="@{/board/list(page=${result.end - 1})}">다음</a>
      </li>
    </ul>
    -->

  </th:block>
</th:block>