<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프론트 API 요청</title>
</head>

<body>
    <div id="result"></div>
    <!-- 통신을 좀 더 편리하게 할 수 있도록 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.post('http://localhost:8000/v2/token', {
            clientSecret: '{{key}}',
        })
            .then((res) => {
                document.querySelector('#result').textContent = JSON.stringify(res.data);
            })
            .catch((err) => {
                console.error(err);
            });
    </script>
</body>

</html>